.background {
    background-image: url(../../assets/background.png);
    height: 17rem;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
}

.user-name {
    font-family: 'Roboto', sans-serif;
    font-size: 7rem;
    color: #fff;
    font-weight: 800;
    position: relative;
    transform: translate(-30%, 50%);
}

.user-login {
    width: 50rem;
    height: 20rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}